<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AssetServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://xserv.dell.com/services/assetservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="AssetServiceSoap"
                contract="AssetServiceSoap" name="AssetServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>